<html>
  <head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

   <link rel="stylesheet" type="text/css" href="theme.css">

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

   <style>
	
		h2 {font-family:"Tahoma"}
	</style>
   
    <title>Predict your car price</title>
  </head>
   <body style="background:#D1E0FF">
   <div class="container">
     <div class="container">
         <ul class="nav nav-pills" style="padding-top:10px;">
                <a href="/index" class="btn btn-success">Cars</a>
                <a href="/manufractures" class="btn btn-success">Manufractures</a>
                <a href="/datamin" class="btn btn-success">DataMining</a>
    </ul>
	<br/>
	
	<u><h2>DataMining using Incanter:</h2></u><br/><br/>
	
	<u><h3>Impact of different attributes on car price:</h3></u>
	<font size="4"><a href="/models/datamin/priceMileage">Mileage</a></font><br/>
	<font size="4"><a href="/models/datamin/priceYear">Year of production</a></font><br/>
	<font size="4"><a href="/models/datamin/priceHorsePower">Horse power</a></font><br/><br/>
	
	<i><p>* Car price is shown on X-axis of the plot</p></i>
     </div>
  </body>
  </html>