<html>
  <head>
    <title>Editing a car</title>
  </head>
  <body>
    <div class="container">
      <h1>Editing Cars</h1>
      <form action="/admin/casr/{{id}}/save" method="post">
        <label for="model">Model</label>
        <input name="model" value="{{cars.model}}"/><br />
        <label for="year">Year of production</label>
        <input name="year" value="{{cars.yearprod}}"/><br />
        <label for="kilometres">Kilometres</label>
        <input name="kilometres" value="{{cars.kilometres}}"/><br />
        <label for="horsepower">Horse Power</label>
        <input name="horsepower" value="{{cars.horsepower}}"/><br />
        <input type="submit"/>
      </form>
    </div>
  </body>
</html>