<html>
  <head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <title>Used cars price prediction</title>
  </head>
  <body>
     <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="/index">Cars</a></li>
            <li role="presentation"><a href="/manufractures">Manufractures</a></li>
             <li role="presentation"><a href="/weka">Weka</a></li>
        </ul>
         <div id="tableCars" style="width:70%;">
              <h2>List of all cars</h1>
               <table class="table table-bordered">
               <tr>
                   <th>Model</th>
                   <th>Year of production</th>
                   <th>Horse powers</th>
                   <th>Kilometres</th>
                   <th>Price</th>
                   <th>Manufraturer</th>
				   <th>Edit</th>
				   <th>Remove</th>
              {{#cars}}
                    <tr class="success">
                    <th>{{model}}</th>
                    <th>{{yearprod}}</th>
                    <th>{{horsepower}}</th>
                    <th>{{kilometres}}</th>
                    <th>{{price}}</th>
					<th>{{name}}</th>
					<td><a href="/models/cars/{{id}}/update" class="btn btn-success">Edit</a></td>
					<td><a href="/models/cars/{{id}}/remove" class="btn btn-success">Remove</a></td>
                    
              {{/cars}}
              </tr>
              </table>
              </div>
              <a href="/newcar" class="btn btn-primary">Add new car</a>
              <a href="/models/weka/export" class="btn btn-primary">Export to .CSV file</a>

            
     </div>
   </nav>
  </body>
</html>