<html>
  <head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <title>Used cars price prediction</title>
	<style>
	
		h2 {font-family:"Tahoma"}
	</style>
  </head>
  <body style="background:#D1E0FF">
     <div class="container">
         <ul class="nav nav-pills" style="padding-top:10px;">
                <a href="/index" class="btn btn-success">Cars</a>
                <a href="/manufractures" class="btn btn-success">Manufractures</a>
                <a href="/datamin" class="btn btn-success">DataMining</a>
    </ul>
         <div id="tableCars" style="width:70%;">
              <u><h2>List of all cars currently on the market</h2></u><br/>
               <table class="table table-bordered" style="border:solid">
               <tr style="border:solid">
                   <th>Model</th>
                   <th>Year</th>
                   <th>Horse powers</th>
                   <th>Kilometres</th>
                   <th>Price</th>
                   <th>Manufraturer</th>
				   <th>Edit</th>
				   <th>Remove</th>
              {{#cars}}
                    <tr style="border:dotted">
                    <th>{{model}}</th>
                    <th>{{yearprod}}</th>
                    <th>{{horsepower}}</th>
                    <th>{{kilometres}}</th>
                    <th>{{price}}</th>
					<th>{{name}}</th>
					<td><a href="/models/cars/{{id}}/update" class="btn btn-success">Edit</a></td>
					<td><a href="/models/cars/{{id}}/remove" class="btn btn-success">Remove</a></td>
                    
              {{/cars}}
              </tr>
              </table>
              </div>
              <a href="/newcar" class="btn btn-primary">Add new car</a>
              <a href="/models/datamin/export" class="btn btn-primary">Export to .CSV file</a>

            
     </div>
   </nav>
  </body>
</html>