<html>
  <head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

   <link rel="stylesheet" type="text/css" href="resources/public/theme.css">

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

   <style>
	
		h2 {font-family:"Tahoma"}
	</style>
    <title>Used cars price prediction</title>
	
  </head>
  <body style="background:#D1E0FF">
     <div class="container">
         <ul class="nav nav-pills" style="padding-top:10px;">
                <a href="/index" class="btn btn-success">Cars</a>
                <a href="/manufractures" class="btn btn-success">Manufractures</a>
                <a href="/datamin" class="btn btn-success">DataMining</a>
    </ul>
         <div id="tableCars" style="width:50%;">
              <u><h2>List of all car manufracturers</h2></u><br/>
               <table class="table table-bordered" style="border:solid">
               <tr style="border:solid">
                   <th>Name</th>
                   <th>Year</th>
                   <th>Headquarters</th>
                   <th>Country</th>
                   <th>Edit</th>              
              {{#manufracturers}}
                    <tr style="border:dotted">
                    <th>{{name}}</th>
                    <th>{{year}}</th>
                    <th>{{head}}</th>
                    <th>{{country}}</th>
                    <td><a href="/models/manufracturers/{{id}}/update" class="btn btn-success">Edit</a></td>
                    
              {{/manufracturers}}
              </tr>
              </table>
              </div>

              <a href="/newman" class="btn btn-primary">Add new</a>
     </div>
   </nav>
  </body>
</html>