<html>
  <head>
    <title>Adding a new instance</title>
  </head>
  <body>
    <div class="container">
      <h1>Editing Cars</h1>
      <form action="/admin/posts/create" method="post">
        <label for="title">Model</label>
        <input name="title"/><br />
        <label for="yearOfPorduction">Year of production</label>
        <input name="year"/><br />
        <label for="horsePower">Horse Power</label>
        <input name="horsePower"/><br />
        <label for="kilometres">Kilometres</label>
        <input name="kilometres"/><br />
        <input type="submit"/>
      </form>
    </div>
  </body>
</html>