<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

     <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <link rel="stylesheet" href="cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css">
     <script type="text/javascript" src="cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js"></script>

    <script>
      $(document).ready(function () {
        $('#selectMan').selectpicker();
      });
    </script>

    <title>Adding  a new car</title>
  </head>
  <body>
    <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/index">Cars</a></li>
                <li role="presentation"><a href="/manufractures">Manufractures</a></li>
                 <li role="presentation"><a href="/weka">Weka</a></li>
            </ul>
      <h1>Add your car to the list</h1>
      <div id="addForm" style="width:30%;">
      <form action="/models/cars/create" method="post">
           <div class="form-group">
          <label>Model:</label>
         <input type="text" class="form-control" name="model" placeholder="Model">
          </div>
        <div class="form-group">
      <label>Year:</label>
      <input type="text" class="form-control" name="yearprod" placeholder="Year">
        </div>
      <div class="form-group">
       <label>Horse power:</label>
       <input type="text" class="form-control" name="horsepower" placeholder="HorsePower">
         </div>
      <div class="form-group">
        <label>Mileage:</label>
        <input type="text" class="form-control" name="kilometres" placeholder="Mileage">
      </div>
      <div class="form-group">
              <label>Manufracturer:</label><br/>
                <select name="manufracturerId" class="form-control" id="manufracturerId">
                    {{#manufracturers}}
                    <option value="{{id}}">{{name}}</option>
                    {{/manufracturers}}
                </select>
            </div>
       <button type="submit" class="btn btn-primary" style="float:right">Add car</button>

       </form>
       </div>
    </div>
  </body>
</html>
