<html>
  <head>
    <title>Clojure Blog</title>
  </head>
  <body>
    <div class="container">
      <h1>List of cars</h1>
      <a href="/admin/cars/new">Add</a>
      <sections>
      {{#cars}}
        <h2><a href="/admin/cars/{{id}}">{{model}}</a></h2>
        <p>{{yearprod}}<p>
        <p>{{horsepower}}<p>
        <p>{{kilometres}}<p>
        <p>
          <a href="/admin/cars/{{id}}/edit">Edit</a>
          <a href="/admin/cars/{{id}}/delete">Delete</a>
        </p>
      {{/posts}}
      </sections>
    </div>
  </body>
</html>