<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

       <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
       <link rel="stylesheet" href="cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css">
       <script type="text/javascript" src="cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js"></script>

      <script>
        $(document).ready(function () {
          $('#selectMan').selectpicker();
        });
      </script>

    <title>Editing a car</title>
  </head>
  <body style="background:#D1E0FF">
     <div class="container">
         <ul class="nav nav-pills" style="padding-top:10px;">
                <a href="/index" class="btn btn-success">Cars</a>
                <a href="/manufractures" class="btn btn-success">Manufractures</a>
                <a href="/datamin" class="btn btn-success">DataMining</a>
    </ul>
      <h1>Editing Cars</h1>
       <div id="addForm" style="width:30%;">
      <form action="/models/cars/{{car.id}}/updatecar" method="post">
        <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" name="model" value="{{car.model}}"/>
        </div>
        <div class="form-group">
            <label for="year">Year</label>
          <input type="number" class="form-control" name="yearprod" value="{{car.yearprod}}"/>
        </div>
        <div class="form-group">
          <label for="horsepower">Horse Power</label>
          <input type="number" class="form-control" name="horsepower" value="{{car.horsepower}}"/>
         </div>
          <div class="form-group">
             <label for="mileage">Mileage</label>
             <input type="number" class="form-control" name="kilometres" value="{{car.kilometres}}"/>
          </div>

          <div class="form-group">
                       <label for="mileage">Price</label>
                       <input type="number" class="form-control" name="price" value="{{car.price}}"/>
                    </div>
          <div class="form-group">
		
              <label for="man_id">Manufracturer</label>
              <select name="manufracturerId" class="form-control" id="manufracturerId">
                   {{#manufracturers}}
                   <option value="{{id}}">{{name}}</option>
                  {{/manufracturers}}
              </select>
           </div>
           <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
      </div>
    </div>
  </body>
</html>