<html>
  <head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

   <link rel="stylesheet" type="text/css" href="theme.css">

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <title>Predict your car price</title>
  </head>
  <body>
   <div class="container">
    <ul class="nav nav-pills">
                <li role="presentation"><a href="/index">Cars</a></li>
                <li role="presentation"><a href="/manufractures">Manufractures</a></li>
                 <li role="presentation"><a href="/weka">Weka</a></li>
    </ul>
  

     </div>
  </body>
  </html>