<html>
  <head>
    <title>Used cars price prediction</title>
  </head>
  <body>
    <div class="container">
      <h1>Listing cars</h1>
      <sections>
      {{#cars}}
        <h2>{{model}}</h2>
        <p>{{year}}<p>
        <p>{{horsePower}}<p>
        <p>{{kilometres}}<p>
      {{/cars}}
      </sections>
  </div>
  </body>
</html>